@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --aubergine: #1f1d36;
    --purple: #3f3351;
    --magenta: #864879;
    --peach: #e9a6a6;
    --header-color: hsl(0, 1%, 71%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: var(--header-color);
}

h2 {
    color: var(--white);
}

p, li, a, .btn-mag {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-top: 1rem;
    text-align: center;
}

.nav-link, a {
    text-decoration: none;
    color: var(--magenta);
    font-weight: 500;
}

.nav-link:hover, a:hover {
    font-weight: 700;
    color: var(--magenta);
}

/* Hero */
.bg-aub {
    background-color: var(--aubergine);
}

.btn-mag {
    background-color: var(--magenta);
    color: var(--white);
}

.btn-mag:hover {
    background-color: #6b3b61;
    box-shadow: white !important;
}

/* About Me */
.title {
    border-right: 3px solid var(--magenta);
}

/* My Skills */
.fa-brands {
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--magenta);
}

/* My Work */
.card-body {
    background-color: var(--aubergine);
    color: var(--white);
}

.card-body p {
    text-align: left !important;
}

.card {
    border: 2px solid var(--aubergine);
}

/* Contact Me */
.fa-solid {
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    color: var(--magenta);
}

/* Footer */
.bg-purple {
    background-color: var(--purple);
}

.footer-links {
    width: 10%;
    font-size: 2rem;
}

.footer-links i:hover {
    color: #6b3b61;
}

/* Media Queries */
@media screen and (min-width: 1440px) {
    .card-width {
        width: 33%;
    }

    .work-title {
        justify-content: center !important;
        align-items: start !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .card-width {
        width: 100%;
    }

    .work-title {
        justify-content: center !important;
        align-items: start !important;
    }

    .nav-link {
        display: none;
    }

    .footer-links {
        width: 12%;
    }
}

@media screen and (max-width: 768px) {
    .title {
        border: none;
    }

    .photo {
        width: 100% !important;
        padding-bottom: 2rem;
    }

    .footer-links {
        width: 40%;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    h1 {
        font-size: 20px;
    }

    .title {
        border: none;
    }

    .footer-links {
        width: 50%;
    }

    .navbar-toggler {
        position: absolute;
    }
}